# ------------------------------------------------------------
# OPENTOFU
# ------------------------------------------------------------
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfplan
*tfplan*

crash.log
crash.*.log

.terraformrc
terraform.rc


# ------------------------------------------------------------
# MACOS
# ------------------------------------------------------------
.DS_Store
